<div class="assistantContainer">
    <div class="bg-slate-800 rounded-md w-1/5 px-5">
        <div class="h-full px-3 py-4 overflow-y-auto">
            <ul class="space-y-2 font-medium">
            {{#each listAll}}
                <li class="flex justify-between">
                    <a href="/assistant/{{this.assistantId}}/edit" class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="flex-1 whitespace-nowrap" style="text-wrap: balance">{{this.name}}</span></a>
                        <a href="javascript:void(0);" onclick="confirmDeletion('/assistant/delete/{{this.assistantId}}')" class="flex items-center ml-2">
                            <svg class="w-4 h-4 text-gray-800 dark:text-slate-400 hover:text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
                            </svg>
                        </a>
                </li>
            {{/each}}
            </ul>
        </div>
    </div>

    <div class="assistContainer w-8/12 bg-slate-800 rounded-md w-1/5 px-5">
        <form action="/assistant/newAssistant" method="POST" class="createAssistantForm text-black w-full" enctype="multipart/form-data">
        <h1 class="text-3xl font-bold mb-4 text-white">Create a new Assistant</h1>
            <div class="sideBySideContainer flex w-full gap-3">
                <div class="leftSide flex-grow w-1/2">
                    <label for="name" class="block text-sm font-medium text-gray-900 dark:text-white pt-2">Assistant Name</label>
                    <input type="text" name="name" id="name" placeholder="Elon Musk" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    <label for="description" class="block text-sm font-medium text-gray-900 dark:text-white" style="padding-top: 15px;">Description</label>
                    <input type="text" name="description" id="description" placeholder="A Elon Musk Assistant" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    <label for="tools" class="block text-sm mt-4 font-medium text-gray-900 dark:text-white overflow-hidden">Tools</label>
                    <select multiple id="tools" class="bg-gray-700 border dark:border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 overflow-hidden" style="height: 100px;">
                        <option value="code_interpreter">Code Interpreter</option>
                        <option value="retrieval">Retrieval</option>
                        <option value="function" disabled>Web Browsing (Coming Soon)</option>
                    </select>
                </div>
                <div class="rigthSide flex-grow w-1/2">
                    <label for="instructions" class="block text-sm font-medium text-gray-900 dark:text-white pt-2" >Instructions</label>
                    <textarea id="instructions" style="height: 123px;" placeholder="You are Elon Musk..." class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
                    <div class="mt-4">
                        <label for="model" class="block text-sm font-medium text-gray-900 dark:text-white">Model</label>
                        <select id="model" name="model" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="gpt-4-1106-preview">GPT 4 Preview (1106)</option>
                            <option value="gpt-3.5-turbo-1106">GPT 3.5 Turbo (1106)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-900 dark:text-white" for="file">Upload files</label>
                <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file-upload" name="files" type="file" multiple>
                <input type="text" id="purpose" name="purpose" value="assistants" hidden>
                <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">Maximum 20 files and 512 MB per file.</div>
            </div>
            <div id="file-list-container" class="text-white"></div>
            <button style="margin: auto;" class="w-1/2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create New Assistant</button>
        </form>
    </div>
</div>

<style>
    label {
        padding-bottom: 5px;
    }

    .assistantContainer {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 50px;
    }

    .allAssistants {
        background-color: rgb(238, 238, 238);
        padding: 20px 50px;
        width: 30%;
    }

    .threadContainer {
        display: flex;
        width: 70%;
        justify-content: space-around;
        align-items: center;
    }

    .createAssistantForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
</style>
<script src="/js/script.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var fileInput = document.getElementById('file-upload');
    var fileListContainer = document.getElementById('file-list-container');

    fileInput.addEventListener('change', function() {
        updateFileList();
    });

    function updateFileList() {
        fileListContainer.innerHTML = '';
        Array.from(fileInput.files).forEach((file, index) => {
            var fileDisplayEl = document.createElement('div');
            fileDisplayEl.innerHTML = '<button onclick="removeFile(' + index + ')" style="color: red;">x</button>  ' + file.name;
            fileListContainer.appendChild(fileDisplayEl);
        });
    }

    window.removeFile = function(index) {
        var files = Array.from(fileInput.files);
        files.splice(index, 1);
        fileInput.files = new FileListItems(files);
        updateFileList();
    };

    function FileListItems(files) {
        var b = new ClipboardEvent("").clipboardData || new DataTransfer();
        for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i]);
        return b.files;
    }
});

</script>