<div class="assistantContainer">
    <div class="bg-slate-800 rounded-md w-1/5 px-5">
        <div class="h-full px-3 py-4 overflow-y-auto">
            <ul class="space-y-2 font-medium">
                {{> listAssistants}}
            </ul>
        </div>
    </div>

    {{> createAssistant}}
</div>

<style>
    label {
        padding-bottom: 5px;
    }

    .assistantContainer {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 50px;
    }

    .allAssistants {
        background-color: rgb(238, 238, 238);
        padding: 20px 50px;
        width: 30%;
    }

    .threadContainer {
        display: flex;
        width: 70%;
        justify-content: space-around;
        align-items: center;
    }

    .createAssistantForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
</style>
<script src="/js/script.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var fileInput = document.getElementById('file-upload');
    var fileListContainer = document.getElementById('file-list-container');

    fileInput.addEventListener('change', function() {
        updateFileList();
    });

    function updateFileList() {
        fileListContainer.innerHTML = '';
        Array.from(fileInput.files).forEach((file, index) => {
            var fileDisplayEl = document.createElement('div');
            fileDisplayEl.innerHTML = '<button onclick="removeFile(' + index + ')" style="color: red;">x</button>  ' + file.name;
            fileListContainer.appendChild(fileDisplayEl);
        });
    }

    window.removeFile = function(index) {
        var files = Array.from(fileInput.files);
        files.splice(index, 1);
        fileInput.files = new FileListItems(files);
        updateFileList();
    };

    function FileListItems(files) {
        var b = new ClipboardEvent("").clipboardData || new DataTransfer();
        for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i]);
        return b.files;
    }
});

</script>