<div
  class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
    <h1
      class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
    >
      Update Your Profile
    </h1>
    <form action="/user/update" method="POST" class="space-y-4 md:space-y-6">
      <a href="" class="relative">
        <img
          class="rounded-full w-32 h-32"
          src="https://placekitten.com/200/200"
          alt="Profile Image"
        />

        <div
          class="absolute top-0 left-0 w-full h-full rounded-full flex items-center justify-center bg-black bg-opacity-50 opacity-0 hover:opacity-100"
        >
          <span class="text-white text-lg pl-12">Change Image</span>
        </div>
      </a>
      <div>
        <label
          for="username"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@company.com"
          required=""
        />
      </div>
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >E-Mail</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="{{email}}"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required=""
        />
      </div>
      <button
        type="submit"
        class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >Update Profile</button>
    </form>
  </div>
</div>