.<h1>Welcome {{userInSession.username}}</h1>

<section class="lab">
<p>{{this.resData}}</p>
<form action="/user/profile" method="POST">
    <label for="assistance">Mentor
<input type="text" placeholder="whats up?" name="ask"  />
<button>Send</button>
    </label>


</form>
 

 {{#if img}}
 <img src="{{this.img}}" />
 {{/if}}

   <form id="" action="/user/image" method="POST">
    <button>generate image
    </button>
  </form>
  </section>