
 

<form id="dallForm" action="/knifedrive/knife" method="POST">
  <label for="prompt"class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prompt:</label>
   <textarea id="prompt" name="prompt" rows="4" cols="50"  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter a prompt..."></textarea>

  <label for="model"class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Model:</label>
  <select id="model" name="model"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="dall-e-2">DALL-E 2</option>
    <option value="dall-e-3">DALL-E 3</option>
  </select>

  <label for="quality" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quality:</label>
  <select id="quality" name="quality"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="standard">Standard</option>
    <option value="hd">HD (DALL-E 3 only)</option>
  </select>

  <label for="size" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Size:</label>
  <select id="size" name="size" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="256x256">256x256</option>
    <option value="512x512">512x512</option>
    <option value="1024x1024">1024x1024 (DALL-E 2)</option>
    <option value="1792x1024">1792x1024 (DALL-E 3)</option>
    <option value="1024x1792">1024x1792 (DALL-E 3)</option>
  </select>

  <label for="style"class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Style:</label>
  <select id="style" name="style" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="vivid">Vivid</option>
    <option value="natural">Natural</option>
  </select>
<div>
   <button  type="submit" id="sendButton" class="py-2.5 px-5 me-2 mt-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">Knife</button>
</div>
</form>
{{#if message}}
<p>{{this.message}}</p>
<button>Report bug</button>
{{/if }}

 {{#if showSpinner}}
 <p>LOADING</p>
 {{/if}}








