  {{#if isLoggedIn}}
    <div class="top-nav">
      <ul class="top-nav">
        <li><a href="/user/profile">My profile</a></li>
      </ul>
    </div>

    <div class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/knifedrive">knifedrive</a></li>
      <li><a href="/assistant">assistants</a></li>
      <li><a href="/thread">thread</a></li>
      <form id="logout-form" action="/user/logout" method="POST">
        <button>Logout</button>
      </form>
    </div>
  {{else}}
    <div class="top-nav">
      <ul class="top-nav">

        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">signup</a></li>

      </ul>
    </div>

    <div class="side-nav">
      <li><a href="/">Home</a></li>
    </div>
  {{/if}}