<div class="flex">
{{#if res}}
<blockquote class=" h-auto w-auto p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
    <p class="text-m italic font-medium leading-relaxed text-gray-900 dark:text-white">{{this.res}}</p>
</blockquote>

{{/if}}
<form id="visionForm" action="/knifedrive/upload" method="POST" enctype="multipart/form-data">
    <label for="userPromptText">Ask</label>
    
  
   <textarea id="prompt" name="userPromptText" rows="4" cols="50"  class="block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter a prompt..."></textarea>

    <button type="button" id="toggleCamera">Toggle Camera</button>
    <video id="video" width="640" height="480" autoplay style="display:none;"></video>
    <button type="button" id="capture" style="display:none;">Capture Photo</button>

    <label for="image1">Image 1:</label>
    <input type="file" id="image1" name="image1" accept="image/*">

    <button type="submit">Submit</button>
</form>
</div>
<div>
    {{#if data }}
    <audio controls>
  <source src="{{audio}}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<form action="/knifedrive/download-audio" method="post">
  <input type="hidden" name="voiceId" value="{{voiceId}}">
  <button type="submit">Download Audio</button>
</form>
 
{{/if}}
</div>