<div  >
  <div class="w- p-6 mt-12 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
{{#if res}}
<blockquote class=" h-auto w-auto p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
    <p class="text-m italic font-medium leading-relaxed text-gray-900 dark:text-white">{{this.res}}</p>
</blockquote>


{{/if}}
<div >
    {{#if data }}
    <audio controls>
  <source src="{{this.data}}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<form action="/knifedrive/download-audio" method="post">
  <input type="hidden" name="voiceId" value="{{voiceId}}">
  <button type="submit">Download Audio</button>
</form>
 
{{/if}}
</div></div>
<form id="visionForm" action="/knifedrive/upload" method="POST" enctype="multipart/form-data">


<div class="w- p-2 mt-12 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <label for="userPromptText" >Ask</label>
     <textarea style="margin-top: 5%; "  id="prompt" name="userPromptText" rows="4" cols="50"  class="block w-100 p-6 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter a prompt..."></textarea>
    
  
  

    
    



<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input"style="margin-top: 5%;" >Upload file</label>
 <video id="video" width="640" height="480" autoplay style="display:none;"></video>
<div style="display: flex;">

<button style="margin:1.5%;" type="button" id="toggleCamera"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 12.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z"/>
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 3h-2l-.447-.894A2 2 0 0 0 12.764 1H7.236a2 2 0 0 0-1.789 1.106L5 3H3a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a2 2 0 0 0-2-2Z"/>
</svg></button>
   
<button type="button" id="capture" style="display:none;">Capture Photo</button>
<input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="image1" name="image1" type="file">
</div>
<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
</div>



    <button style="margin-top: 5%;" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Submit</button>
</form>
</div>
{{#if message}}
<p>{{this.message}}</p>
<button>Report bug</button>
{{/if }}
<br>
