<section class="">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">About us</h2>
          <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">"There is nothing impossible to they who will try."</p>
      </div> 
      <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">
          <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
              <figcaption class="flex flex-col gap-6 mb-12 justify-center items-center space-x-3">
                  <img class="w-34 h-34 rounded-full" width="300" src="https://avatars.githubusercontent.com/u/141779397?v=4" alt="profile picture">
                  <div class="space-y-0.5 text-center  font-medium dark:text-white text-left">
                      <div>Eiad Oraby</div>
                      <div class="text-sm font-light text-gray-500 dark:text-gray-400">(Soon to be) Developer at Open AI</div>
                  </div>
              </figcaption>    
              <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Finding the What then the How, </h3>
                  <p class="my-4">"As a curious lecturer and an adept project manager, I’ve always been driven by a passion for learning and a knack for problem-solving. This pursuit has naturally led me to the dynamic world of web development, where I find the blend of technology and creativity particularly resonant. My approach goes beyond coding; it’s about using web development as a canvas for continuous learning and innovation. Integrating AI is a crucial part of this process, as I believe it significantly elevates the user experience. By weaving AI into the fabric of web solutions, I aim to craft not just websites, but intelligent platforms where my skills as an educator and a leader truly make a tangible impact."</p>
              </blockquote>
          </figure>
          <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
              <figcaption class="flex flex-col gap-6 mb-12 justify-center items-center space-x-3">
                  <img class="w-34 h-34 rounded-full" width="300" src="https://avatars.githubusercontent.com/u/128687253?v=4" alt="profile picture">
                  <div class="space-y-0.5 text-center  font-medium dark:text-white text-left">
                      <div>Ruben Dietl</div>
                      <div class="text-sm font-light text-gray-500 dark:text-gray-400">(Soon to be) Developer at Open AI</div>
                  </div>
              </figcaption>    
              <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Speechless with how easy this was to integrate</h3>
                  <p class="my-4">"I recently got my hands on Flowbite Pro, and holy crap, I'm speechless with how easy this was to integrate within my application. Most templates are a pain, code is scattered, and near impossible to theme.</p>
                  <p class="my-4">Flowbite has code in one place and I'm not joking when I say it took me a matter of minutes to copy the code, customise it and integrate within a Laravel + Vue application.</p>
                  <p class="my-4">If you care for your time, I hands down would go with this."</p>
              </blockquote>
          </figure>
      </div>
</section>