<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <script src="https://cdn.tailwindcss.com"></script>
   </head>

   <body>
<nav>
   <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/user/profile">My profile</a></li>
      <li><a href="/auth/signup">signup</a></li>
      <br>
      <li><a href="/assistant">assistants</a></li>
      <li><a href="/thread">thread</a></li>
</nav>
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>