<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body id="body">
  <div class="grid-container">

    <div id="spinner" style="display: none;">LOADING</div>

    {{> header}}

    <div class="main-content">
      {{{body}}}
    </div>

    <div class="footer">
      Footer
    </div>

  </div>

  <script src="/js/script.js"></script>
  <script src="/js/camera.js"></script>
</body>

</html>