


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;

}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.background{
  background-size:cover;
  background-repeat: none;
}
/* .grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  grid-template-columns: 1fr 3fr; 
  grid-template-areas: 
      "top-nav top-nav"
      "side-nav main-content"
      "footer footer";
  height: 100vh; 
} */

/* .top-nav {
  grid-area: top-nav;
  display: flex;

  
}

.side-nav {
  grid-area: side-nav;
 
 
}
backgroundrive{}
.main-content {
  grid-area: main-content;
 
}

.footer {
  grid-area: footer;
  
} */
#lab{
 
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    /* Two rows with equal height */
  gap: 10px; 
}
.lab-item {
  border: 1px solid #ccc; /* Add borders or styling to grid items as needed */
  padding: 10px;
}
#chatbot{
  display: none;

}
#dall{
  display: none;
}
#vision{
  display: none;
}
#dall-edit{
  display: none;
}
#transcript{
  display: none;
}
#text-to-speech{
  display: none;
}
#gDrive{
  display: none;
}
#vDrive{
  display: none;
}
#iDrive{
  display: none;
}


.element {
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
  
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.scrollable-box {
  width: 100%; /* Set your desired width */
  height: 80vh; /* Set your desired height */
  overflow: auto; /* Add scrollbars when content overflows */
  border: 1px solid #ccc; /* Optional border for styling */
  overflow: none;
}

/* Style for the content inside the scrollable box */
.scrollable-content {
  padding: 10px;
}

.fixed-buttons {
  position: absolute; /* Position relative to the scrollable box */
  top: 10px; /* Adjust top and left values as needed */
  left: 10px;
}


.photo-button {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
}
.circle {
  position: absolute;
  top: 12%;
  left: 12%;
  bottom: 12%;
  right: 12%;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: 0;
}
.ring {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  border-radius: 100%;
  border: 0.5em solid #ffffff;
  opacity: 0.8;
}
.photo-button .circle, .photo-button .ring {
  transition: all 0.25s;
}
.photo-button:hover .circle {
  opacity: 1;
}
.photo-button:active .ring {
  opacity: 1;
}
.photo-button:active .circle {
  opacity: 0.5;
}


