<div id="lab">
<div>
    <button id="chat-Button">chatbot</button>
    <button id="dall-Button">dall</button>
    <button id="vision-Button">vision</button>
  
    <button id="text-to-speech-Button">text-to-speech </button>



<div id="Knife-drive" style="position: absolute;">

<section class="lab-item " id="chatbot" {{#if update}} style="display:block" {{/if}}>chat {{>chatbot}}</section>

<section class="lab-item " id="dall" {{#if status}} style="display:block" {{/if}}>
 {{>image}} {{>dall}}
</section>

<section class="lab-item " id="vision"{{#if vision}} style="display:block" {{/if}}>vision {{>vision}}</section>

<section id="dall-edit">dall-edit {{>dallEdit}}</section>

<section class="lab-item " id="transcript"{{#if this.update}} style="display:block" {{/if}}></section>

<section class="lab-item " id="text-to-speech">text-to-speech {{>textToSpeech}} </section>


   </div>

</div>

 <div class="lab-item drive ">
  <div></div>
    {{>images}}
    {{>visionD}}
   {{>speechD}}
  </div>
  </div>