<div>
<form action="">

    <button id="chat-Button">chatbot</button>
    <button id="dall-Button">dall</button>
    <button id="vision-Button">vision</button>
    <button id="dall-edit-Button">dall-edit</button>
    <button id="text-to-speech-Button">text-to-speech </button>

</form>

<div id="Knife-drive" style="position: absolute;">

<section id="chatbot">chat</section>

<section id="dall"> {{>dall}} {{>image}}
     
</section>

<section id="vision">vision {{>vision}}</section>

<section id="dall-edit">dall-edit {{>dallEdit}}</section>

<section id="transcript">transcript</section>

<section id="text-to-speech">text-to-speech {{>textToSpeech}} </section>

</div>
</div>
<div>
<form action="">

    <button id="chat-Button">chatbot</button>
    <button id="dall-Button">dall</button>
    <button id="vision-Button">vision</button>
    <button id="dall-edit-Button">dall-edit</button>
    <button id="text-to-speech-Button">text-to-speech </button>

</form>

<div id="Knife-drive" style="position: absolute;">

<section id="chatbot">chat</section>

<section id="dall"> {{>dall}} {{>image}}
     
</section>

<section id="vision">vision {{>vision}}</section>

<section id="dall-edit">dall-edit {{>dallEdit}}</section>

<section id="transcript">transcript</section>

<section id="text-to-speech">text-to-speech {{>textToSpeech}} </section>

</div>
</div>