<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
          <img src="https://i.postimg.cc/pXH7HgGb/swissknifes-ai-temp-Logo-150-150-zoom-1.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">SwissKnifes.ai</span>   
      </a>
      <p class="my-6 text-gray-500 dark:text-gray-400">Merging AI technologies, we enhance productivity with custom assistants and innovative solutions.</p>
      <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
          <li>
              <a href="/" class="mr-4 hover:underline md:mr-6 ">Home</a>
          </li>
          <li>
              <a href="/about-us" class="mr-4 hover:underline md:mr-6">About Us</a>
          </li>
          <li>
              <a href="/auth/login" class="mr-4 hover:underline md:mr-6">Log in</a>
          </li>
          <li>
              <a href="/auth/signup" class="mr-4 hover:underline md:mr-6 ">Sign-Up</a>
          </li>
      </ul>
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">SwissKnfise.ai™</a>. All Rights Reserved.</span>
  </div>
</footer>